 

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #fff;  
  background-image: url("bg.jpg") ; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;  
}

*{
  padding: 0;
  margin: 0;
}

 

 

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#header h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 22px;
}

#header .countdown {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

#header .countdown div {
  text-align: center;
  margin: 10px;
  width: 100%;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.12);
  border-top: 5px solid #ff0000;
}

#header .countdown div h3 {
  font-weight: 700;
  font-size: 200px;
  margin-bottom: 15px;
}

#header .countdown div h4 {
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 575px) {
  #header .countdown div {
    width: 70px;
    padding: 10px 0;
    margin: 10px 8px;
  }

  #header .countdown div h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  #header .countdown div h4 {
    font-size: 14px;
    font-weight: 500;
  }
}




#header .subscribe {
  font-size: 18px;
  text-align: center;
}

#header .subscribe h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
 
.subscribe-form{
  padding: 20px;
}
 
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: rgba(19, 19, 19, 0.4);
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
  position: relative;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #ff3333;
}
